.input-xs{
	height: 28px;
	font-size: 11px;
	padding: 1px 6px;
}

.main{
	width: 320px;
	margin-left:calc(50% - 160px);
	padding:10px;
	margin-top:40px;
	background-color: rgb(244,244,244);
	height: 300px;
	border: 1px solid rgb(230,230,230);
}
.main h3{
	text-align: center;
	margin: 10px 0px 18px 0px;
}
.main .form-control{
	width:calc(100% - 100px);
	float: left;
}
.main .btn{
	width: 100px;
	float: left;
}

.main .list-group{
	margin-top: 54px;
}
.main .list-group{
	max-height: 190px;
	overflow-y: auto;
}
.main .list-group a{
	cursor: pointer;
	height: 28px;
	padding: 4px 6px;
}
.main .list-group a.active{
	cursor: default;
	height: 32px;
	padding: 8px;
}

.main.events .btn{
	width: 100%;
	margin-bottom: 4px;
}
.main.events .soon{
	text-align: right;
	width: 100%;
	margin-top: 50px;
	color:rgb(160,160,160);
	font-size: 12px;
}

.live-page.clock{
	position: absolute;
	width: 130px;
	height: 40px;
	text-align: center;
	top:10px;
	right: 10px;
	font-weight: 600;
}
.live-page.title{
	margin:10px;
	text-align: center;
}
.live-page.header{
	margin:10px;
}
.live-page.form-control{
	width: 180px;
	height: 26px;
}
.live-page.text{
	font-size: 14px;
	margin:12px;
	font-family: verdana;
	color:rgb(80,80,80);
}
h1{
        text-align: center;
        background-color: rgb(238,238,238);
        border-bottom: 1px solid rgb(180,180,180);
        color: rgb(88,88,88);
        padding: 15px;
        font-family: Verdana;
        font-size: 24px;
        display: inline-block;
        width: 100%;
        margin-top: 0px;
    }
    h1 a{
        display: inline-block;
        margin-top:10px;
        font-size: 12px;
        width: 100%;
    }
    h3-block div{
        margin-left: 22px;
    }
    h3-block h3{
        margin-left: 10px;
    }
    h3-block div.list-group{
    	margin-left: 0px;
    }